body{
    font-family: sans-serif;
    background-color:rgb(201, 120, 21) ;
}

nav{
    background-color:rgb(255, 255, 0);
    margin: 15px;
    padding: 15px;
}

nav a{
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    color: rgb(241, 241, 14);
    background-color:rgb(201, 120, 21);
    border-radius:20px ;

}
ul{
    width: 80%;
}

ol{
    width: 80%;
}
li{
    text-align: justify;
}
h1{
    text-align: center;
}
main p{
    width: 80%;
    text-align: justify;
}

main img{
width:80%
}

footer{
background-color: rgb(102, 67, 23);
padding: 15px;
width: 100%;
}
